//primary colors

$pink: #fac8cd;
$pink-light: #fbcfd8;
$pink-dark: #dbafb3;

// secondary colors

$violet: #d7bcc8;
$violet-light: #ddc5d4;
$violet-dark: #bca5af;

// black colors

$black: #282832;
$black-light: #44464e;
$black-dark: #23232c;

// white colors

$white: #dee7e7;
$white-light: #e2ebe9;
$white-dark: #c2caca;

// auxiliary colors

$green: #629677;

//Gradient Colors

$black-gradient: linear-gradient(180deg, #23232C 0%, #44464E 100%);
$white-gradient: linear-gradient(180deg, #f2f2f2 0%, #e1e1e1 100%);

